@import "fonts.css";
@import "general.css";
@import "header.css";
@import "footer.css";
@import "cards.css";

.heroBanner {
  height: 100px;
}

.heroBanner::before {
  height: 100px;
  opacity: 0.7;
}

.cardContainer {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100%;
}

@media (min-width: 1080px) {
  .favouriteProjects .cardContainer {
    justify-content: space-around;
  }

  .favouriteProjects .cardContainer .card {
    width: 30%;
  }
}
